body {
    background-color: #3A3845;
    font-family: 'Lato', sans-serif;
    margin-top: 25vh;
}

.thankyou-container {
    width: 18.3rem;
    color: white;
    background-color: #1B2430;
    display: flex;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 10%;
}


svg {
    margin-left: 1rem;
}

.rating-result p {
    background-color: #2C394B;
    color: #FF7700;
    text-align: center;
    margin: 0 60px;
    font-weight: 700;
    font-size: .77rem;
    border-radius: 1rem;
    padding: 3px 5px;
}

.h1 {
    color: #fff;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 2rem;
}

.para {
    color: #DDDDDD;
    font-weight: 300;
    font-size: .8rem;
    text-align: center;
}